﻿main {
	width: 500px;
	margin: 10px auto;
}
#input-block {
	display: flex;
	justify-content: center;
	align-items: center;
}
#switch {
	width: 150px;
	font-size: 22px;
}
#input-area {
	width: 300px;
}
#input-area div {
	display: none;
}
#output-block {
	display: flex;
	justify-content: center;
	align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}